.cover__container {
    width: 1024px;
    height: 1024px;
    border: 1px solid white;
    background-color: #d9d9d9;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

/* title stays in the first two parent columns */
#cover .title1 {
    grid-column: 1 / span 2;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    height: 276px;
}

.mood {
     /* make 2x2 grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    place-items: center;
    margin: 0;
}

.mood span {
    font-size: 120px;
    font-weight: 800;

}

/* place letters into the 2x2 cells */
.mood span:nth-child(1) { grid-area: 1 / 1; }
.mood span:nth-child(2) { grid-area: 1 / 2; }
.mood span:nth-child(3) { grid-area: 2 / 1; }
.mood span:nth-child(4) { grid-area: 2 / 2; }

#cover .title2 {
    grid-column: 3 / span 2;
    display: grid;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    height: 276px;
}

#cover .title2 h1 {
    font-size: 180px;
    margin: 0;
    place-self: center;
}

#cover .image {
    grid-column: 1 / -1;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    height: 400px;
}

#cover .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 0%;
    display: block;
}

#cover .genre {
    grid-column: 1 / -1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

#cover .genre h3 {
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

#cover .genre img {
    height: 60px;
}
