@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Inter:wght@400;600&display=swap');

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;  /* Anchor left */
  overflow: hidden;  /* Hide songs when off-screen */
}

/*Set initial state for scene-container*/
.scene-container {
    width: 100vw;
    height: 100vh;
}

.songs-container {
    width: 50vw;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-player svg {
    width: 60px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
}