.song-item {
    list-style: none;
    display: grid;
    place-items: center;
    color: whitesmoke;
    margin-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.music-player {
    display: grid;
    place-items: center;
    opacity: 0;
    transform: translateY(-20px);
}

.song-info {
    display: grid;
    place-items: center;
}

#song-slider:hover {
    cursor: pointer;
}

#music-buttons {
    display: flex;
}

#song-img {
    width: 300px;
    height: 300px;
}

#song-name {
    margin-top: 20px;
}


#song-slider {
    accent-color: rgb(48, 48, 48);
    width: 300px;
    height: 8px;
    appearance: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}


#song-img, .song-info {
    opacity: 0;
    transform: translateY(-20px);
}
