.song-item {
    list-style: none;
    display: grid;
    place-items: center;
    color: whitesmoke;
}

.music-player {
    display: grid;
    place-items: center;
    opacity: 0;
    transform: translateY(-20px);
}

#song-slider:hover {
    cursor: pointer;
}

#music-buttons {
    display: flex;
}

#song-img {
    width: 300px;
    height: 300px;
}

#song-slider {
    accent-color: rgb(48, 48, 48);
    width: 300px;
    color: black;
}


#song-img, #song-name, #song-artist {
    opacity: 0;
    transform: translateY(-20px);
}